<md-dialog class="mediumscreen-dialog" aria-label="Autocomplete Dialog Example" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit a New Event</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-margin="5"  flex layout="column">
        <wg-edit-event-card id="{{eventIdCard}}"></wg-edit-event-card>
    </md-content>
</md-dialog>