<md-dialog class="fullscreen-dialog" aria-label="Autocomplete Dialog Example" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Event</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-content layout="row">
            <wg-event-detial id="{{eventIdCard}}"></wg-event-detial>
            <md-divider class="padded"></md-divider>
            <wg-event-participant></wg-event-participant>
        </md-content>
    </md-content>
</md-dialog>