<md-card layout="column" flex="none" >
    <md-card-content layout-padding>
        <form name="createEventForm">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Event Title</label>
                    <input ng-model="event.title">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Location</label>
                    <input ng-model="event.location">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-datepicker ng-model="currentDate" md-min-date="minDate" md-placeholder="Enter date"></md-datepicker>
                <mdp-time-picker ng-model="currentTime" style="margin-left: 3%; margin-bottom: 3%"></mdp-time-picker>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Event Description</label>
                    <textarea ng-model="description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <label style="margin-top: 2%;">Upload Event Materials</label>
                <md-button class="md-icon-button md-raised md-primary" style="margin-right: 7%;" aria-label="Save" ng-click="like">
                    <md-icon md-svg-icon="./assets/svg/ai-new.svg"></md-icon>
                </md-button>
                <label style="margin-top: 2%;">Upload Posts</label>
                <md-button class="md-icon-button md-raised md-primary" style="margin-right: 7%;" aria-label="Save" ng-click="like">
                    <md-icon md-svg-icon="./assets/svg/ai-new.svg"></md-icon>
                </md-button>
                <label style="margin-top: 2%;">Upload Resources</label>
                <md-button class="md-icon-button md-raised md-primary" aria-label="Save" ng-click="like">
                    <md-icon md-svg-icon="./assets/svg/ai-new.svg"></md-icon>
                </md-button>
            </div>
            <div layout-gt-xs="row">
                <input id="fileInput" name="file" type="file" class="ng-hide" multiple>
                <md-button class="md-raised" style="margin-top: 4%; margin-right: 7%;" aria-label="Save" ng-click="upload()">
                    <md-icon md-svg-icon="./assets/svg/ai-picture.svg"></md-icon>Set official picture of the event
                </md-button>
            </div>
        </form>
    </md-card-content>
    <md-card-actions  layout="row" layout-align="end center">
        <md-button class="md-raised md-warn" aria-label="Save" ng-click="like">
            <md-icon md-svg-icon="./assets/svg/ai-replay.svg"></md-icon>Reset
        </md-button>
        <md-button class="md-raised md-primary" aria-label="Save" ng-click="like">
            <md-icon md-svg-icon="./assets/svg/ai-save.svg"></md-icon>Save
        </md-button>
    </md-card-actions>
</md-card>