<md-card layout="column" flex="none" >
    <img src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
    <md-card-title flex="10">
        <md-card-title-text>
            <span class="md-headline">{{title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content flex>
        <p>
            {{description}}
            <md-button flex="30" class="md-warn" ng-click="openEventDetialDialog($event, id)" aria-label="Detials" ng-click="like">
                more
            </md-button>
        </p>
    </md-card-content>
    <md-card-actions flex="10" layout="row" layout-align="end center" style="margin-top: 5%">
        <md-button class="md-raised" aria-label="Edit" style="margin-right: 2%"  ng-click="editEventDialog($event, id)">
            <md-icon md-svg-icon="./assets/svg/ai-edit.svg"></md-icon>Edit
        </md-button>
        <md-button class="md-raised" aria-label="Update" style="margin-right: 50%" ng-click="showDeleteConfirm($event, id)">
            <md-icon md-svg-icon="./assets/svg/ai-remove.svg"></md-icon>Delete
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="like">
            <md-icon md-svg-icon="./assets/svg/ai-important.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="like">
            <md-icon md-svg-icon="./assets/svg/ai-favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share" ng-share="share">
            <md-icon md-svg-icon="./assets/svg/ai-share.svg"></md-icon>
        </md-button>
    </md-card-actions>
</md-card>