<md-content flex="30" layout="column" style="height:520px;">
    <section layout="row" layout-sm="column" flex="90" >
        <md-tabs md-dynamic-height md-border-bottom flex>
            <md-tab label="Attending">
                <md-content class="md-padding">
                        <md-list flex>
                            <md-list-item class="md-3-line" ng-repeat="attend in Attending" ng-click="null">
                                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{attend.name}}</h3>
                                </div>
                            </md-list-item>
                        </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Interested">
                <md-content class="md-padding">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="interest in Interested" ng-click="null">
                            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                            <div class="md-list-item-text" layout="column">
                                <h3>{{interest.name}}</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Not Attending">
                <md-content class="md-padding">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="not in notAttending" ng-click="null">
                            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                            <div class="md-list-item-text" layout="column">
                                <h3>{{not.name}}</h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </section>
    <md-divider></md-divider>
    <section layout="row" layout-sm="column" flex="10" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary">Attending</md-button>
        <md-button class="md-raised ">Maybe</md-button>
        <md-button class="md-raised md-warn">Not</md-button>
    </section>
</md-content>