<md-content flex="70" layout="column" style="height:520px;">
    <wg-event-detial-card></wg-event-detial-card>
    <div style="padding:2%">
        <p>
            {{Events[eventIdPassed].description}}
        </p>
        <p>
            Place of Event : {{Events[eventIdPassed].place}}
        </p>
        <p>
            Time of Event : {{Events[eventIdPassed].timeOfEvent}}
        </p>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Comments">
            <md-content>
                <md-list>
                    <md-list-item class="md-3-line" style="margin-top: 1%;" layout="column" ng-repeat="comment in commentsList" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{comment.by}}</h3>
                            <h4>{{comment.comment}}</h4>
                            <p class="message-time">{{ comment.time }}</p>
                        </div>
                        <md-button class="md-icon-button" aria-label="Favorite" layout="column" layout-align="right" ng-click="like">
                            <md-icon md-svg-icon="./assets/svg/ai-favorite.svg"></md-icon>
                        </md-button>
                        <md-divider class="padded-left-right" ng-if="$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
            <div class="md-whiteframe-5dp" flex layout-padding="2px" layout="row" style="height:50px;">
                <md-button flex="10" layout-align="">
                    <md-icon md-svg-src="assets/svg/ai-send-now.svg"></md-icon>
                </md-button>
                <md-input-container layout="row" layout-fill flex>
                    <label style="color: black; margin-bottom: 1%" >comment here</label>
                    <input  type="text" flex="90" layout-margin>
                </md-input-container>
            </div>
        </md-tab>
        <md-tab label="Posts">
            <md-content class="md-padding">
                <carousel interval="myInterval">
                    <md-grid-list class="slide" ng-repeat="images in imageCollection" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                        <md-grid-tile ng-repeat="imageVal in images" ng-style="{'background-image': 'url('+imageVal.image+')'}" md-rowspan="2" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
                            <md-grid-tile-footer>
                                <h3>Post</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </carousel>
            </md-content>
        </md-tab>
        <md-tab label="Resources">
            <md-content class="md-padding">
                Resources
                <!--<wg-contents-pdfs></wg-contents-pdfs>-->
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>