<md-card layout="column" flex="none" >
    <img src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
    <md-card-title flex="10">
        <md-card-title-text>
            <span class="md-headline">{{Events[eventIdPassed].title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions flex="10" layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="like">
            <md-icon md-svg-icon="./assets/svg/ai-important.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="like">
            <md-icon md-svg-icon="./assets/svg/ai-favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share" ng-share="share">
            <md-icon md-svg-icon="./assets/svg/ai-share.svg"></md-icon>
        </md-button>
    </md-card-actions>
</md-card>