<div flex layout="row">
    <md-sidenav flex='20' md-is-locked-open="true" class="md-whiteframe-2dp" ng-if="show">
        <md-list flex="100">
            <md-list-item>
                <md-button href="#content" flex="100" layout="row" layout-align="start center">
                    <md-icon md-svg-src="./assets/svg/ai-play.svg" class="avatar"></md-icon>
                    Content
                </md-button>
            </md-list-item>
            <md-list-item >
                <md-button href="#stats" flex="100" layout="row" layout-align="start center">
                    <md-icon md-svg-src="./assets/svg/ai-data-usage.svg" class="avatar"></md-icon>
                    Stats
                </md-button>
            </md-list-item>
            <md-list-item >
                <md-button href="#accounts" flex="100" layout="row" layout-align="start center">
                    <md-icon md-svg-src="./assets/svg/ai-accounts.svg" class="avatar"></md-icon>
                    Accounts
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content flex='{{flex}}' layout="row" layout-align="center" ng-view autoscroll></md-content>
</div>