<md-list>
    <md-subheader class="md-no-sticky">Update</md-subheader>
    <md-list-item class="md-2-line" ng-repeat="item in Items">
        <div class="md-list-item-text" layout="column">
            <h3>{{ item.title }}</h3>
            <h4>{{ item.desc }}</h4>
            <p>{{ item.time }}</p>
        </div>
    </md-list-item>
    <md-divider ></md-divider>
</md-list>