<div ng-if="show">
    <md-toolbar layout="row" md-is-locked-open="true" class="md-whiteframe-5dp md-primary" ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <h3>GOTERA</h3>
            <md-input-container class="search-bar" flex="60" flex-offset="10" layout="row" ng-click="showSearch = !showSearch">
                <md-icon md-svg-src="./assets/svg/ai-search.svg" class="name"></md-icon>
                <input  type="text">
            </md-input-container>
            <md-button flex="5" ng-click="showNotifications()">
                <md-icon md-svg-src="./assets/svg/ai-event.svg"></md-icon>
                <label style="border:1px solid red;border-radius:20px;width:25px;height:25px;display:inline-block;background:red;font-size:13px;">4</label>
            </md-button>
            <md-button flex="5">
                <md-icon md-svg-src="./assets/svg/ai-accounts.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-hue-1" layout="row" md-is-locked-open="true" class="md-whiteframe-5dp md-primary" ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                <md-icon md-svg-src="./assets/svg/ai-back.svg"></md-icon>
            </md-button>
            <h3 flex="15">
                Back
            </h3>
            <md-input-container class="search-bar" flex layout="row">
                <md-icon md-svg-src="./assets/svg/ai-search.svg" class="name"></md-icon>
                <input  type="text">
            </md-input-container>
            <md-button flex="5">
                <md-icon md-svg-src="./assets/svg/ai-event.svg"></md-icon>
            </md-button>
            <md-button flex="5">
                <md-icon md-svg-src="./assets/svg/ai-accounts.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>