<md-dialog aria-label="Mango (Fruit)" style="width:500px;height:600px;" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a Content Provider Account</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/svg/ai-cancel.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-card layout-padding="10">
            <form name="createEventForm">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Username</label>
                        <input ng-model="event.title">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Password</label>
                        <input ng-model="event.title">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Email</label>
                        <input ng-model="event.title">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>First Name</label>
                        <input ng-model="event.title">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Middle Name</label>
                        <input ng-model="event.title">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Last Name</label>
                        <input ng-model="event.title">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Phone Number</label>
                        <input ng-model="event.title">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Address</label>
                        <input ng-model="event.title">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-button class="md-raised md-primary"  ng-click="like">
                        <label>CHOOSE FILE</label>
                        <md-icon md-svg-icon="./assets/svg/ai-new.svg"></md-icon>
                    </md-button>
                </div>
            </form>
        </md-card>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised md-warn" aria-label="Save" ng-click="like">
            <md-icon md-svg-icon="./assets/svg/ai-replay.svg"></md-icon>Reset
        </md-button>
        <md-button class="md-raised md-primary" aria-label="Save" ng-click="like">
            <md-icon md-svg-icon="./assets/svg/ai-save.svg"></md-icon>Save
        </md-button>
    </md-dialog-actions>
</md-dialog>