<md-dialog aria-label="Tell us about your wearabouts... "  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Tell us about your wearabouts... </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/svg/ai-cancel.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-card layout="column" flex="none" >
                <md-card-content layout-padding>
                    <form name="addWearaboutsForm">
                        <div layout-gt-xs="row">
                            <mdp-date-picker mdp-open-on-click required name="dateFormat" mdp-placeholder="from" mdp-format="DD/MM/YYYY" ng-model="currentDate"></mdp-date-picker>
                            <mdp-time-picker ng-model="currentTime" ></mdp-time-picker>
                            <md-icon md-svg-src="./assets/svg/ai-forward.svg"></md-icon>
                            <mdp-date-picker mdp-open-on-click required name="dateFormat" mdp-placeholder="to" mdp-format="DD/MM/YYYY" ng-model="currentDate"></mdp-date-picker>
                            <mdp-time-picker ng-model="currentTime" ></mdp-time-picker>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Location</label>
                                <input ng-model="event.title"  md-maxlength="100"  md-select-on-focus>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Comments</label>
                                <textarea ng-model="description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>This will help us match you with a potential host/traveler. Any personal information you provide us will not
                                be shared with anyone.</label>
                            </md-input-container>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-warn" aria-label="Save" ng-click="like">
                <md-icon md-svg-icon="./assets/svg/ai-replay.svg"></md-icon>Reset
            </md-button>
            <md-button class="md-raised md-primary" aria-label="Save" ng-click="like">
                <md-icon md-svg-icon="./assets/svg/ai-save.svg"></md-icon>Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>