<md-table-container layout="column" style="height: 580px;">
    <table md-table  ng-model="Songs" >
        <thead md-head>
        <tr md-row>
            <th md-column ><span>Name</span></th>
            <th md-column md-numeric ><span>Album</span></th>
            <th md-column md-numeric>Artist</th>
            <th md-column md-numeric>Genre</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="song" ng-repeat="song in Songs">
            <td md-cell>{{song.Name}}</td>
            <td md-cell>{{song.Album}}</td>
            <td md-cell>{{song.Artist}}</td>
            <td md-cell>{{song.Genre}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>