<md-grid-list style="height: 580px;" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
    <md-grid-tile class="resources-image" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
        <md-grid-tile-footer>
            <h3>af</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image" md-rowspan="2">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image" md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image" md-rowspan="2">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="resources-image">
        <md-grid-tile-footer>
            <h3>At the beach</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>