html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}


md-toolbar h3 {
  margin: auto 15px;
  font-size: 17px;
  font-weight: lighter;
}

.search-bar{
  background-color: #76808b;
  height:33px;
}
/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

.thread{
  background-color:whitesmoke;
  font-weight: 100;
  border-radius: 10px;
  margin:10px;
  padding :20px;

}
.thread-me{
  float:left;
}
.thread-you{
  float:right;
}
.separator{
  width:100%;
}
.message-time{
  font-size:10px;
}

.resources-image{
  background:url('../jpeg/IMG_0226.JPG');
  background-size:cover;
}
/* Typography support coming in 0.8.0 */



.avatar {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.80;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

md-dialog.fullscreen-dialog {
  max-width: 90%;
  max-height: 90%;
  width: 90%;
  height: 90%;
  border-radius: 0;
}

md-dialog.mediumscreen-dialog {
  max-width: 50%;
  max-height: 90%;
  width: 50%;
  height: 90%;
  border-radius: 0;
}

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 280px;
  bottom: 30px;
  left: auto;
  position: fixed;
}

md-divider.padded{
  margin-top: 1%;
}

md-divider.padded-left-right{
  margin-left: 3%;
  margin-right: 3%;
}

#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:relative;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }
