<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="33" layout="column">
            <md-card flex="none">
                <img ng-src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Abebe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        EDIT
                        <md-icon md-svg-src="assets/svg/ai-edit.svg"></md-icon>
                    </md-button>
                    <md-button>
                        DELETE
                        <md-icon md-svg-src="assets/svg/ai-remove.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <img ng-src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Abebe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        EDIT
                        <md-icon md-svg-src="assets/svg/ai-edit.svg"></md-icon>
                    </md-button>
                    <md-button>
                        DELETE
                        <md-icon md-svg-src="assets/svg/ai-remove.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="33" layout="column">
            <md-card flex="none">
                <img ng-src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Abebe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        EDIT
                        <md-icon md-svg-src="assets/svg/ai-edit.svg"></md-icon>
                    </md-button>
                    <md-button>
                        DELETE
                        <md-icon md-svg-src="assets/svg/ai-remove.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="none">
                <img ng-src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Abebe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        EDIT
                        <md-icon md-svg-src="assets/svg/ai-edit.svg"></md-icon>
                    </md-button>
                    <md-button>
                        DELETE
                        <md-icon md-svg-src="assets/svg/ai-remove.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="none">
                <img ng-src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Abebe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        EDIT
                        <md-icon md-svg-src="assets/svg/ai-edit.svg"></md-icon>
                    </md-button>
                    <md-button>
                        DELETE
                        <md-icon md-svg-src="assets/svg/ai-remove.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="33" layout="column">
            <md-card flex="none">
                <img ng-src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Abebe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        EDIT
                        <md-icon md-svg-src="assets/svg/ai-edit.svg"></md-icon>
                    </md-button>
                    <md-button>
                        DELETE
                        <md-icon md-svg-src="assets/svg/ai-remove.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="none">
                <img ng-src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Abebe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        EDIT
                        <md-icon md-svg-src="assets/svg/ai-edit.svg"></md-icon>
                    </md-button>
                    <md-button>
                        DELETE
                        <md-icon md-svg-src="assets/svg/ai-remove.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="none">
                <img ng-src="assets/png/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Abebe</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>
                        EDIT
                        <md-icon md-svg-src="assets/svg/ai-edit.svg"></md-icon>
                    </md-button>
                    <md-button>
                        DELETE
                        <md-icon md-svg-src="assets/svg/ai-remove.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <md-fab-speed-dial md-open="false" md-direction="up"  style="position:fixed; bottom:10px; right : 10px;">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn" ng-click="showUploadDialog($event)">
                    <md-icon md-svg-src="assets/svg/ai-upload.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>
    </md-content>
</div>