<md-content layout="column" layout-align="top" flex="100"  layout-margin="20">
    <md-tabs md-dynamic-height md-border-bottom >
        <md-tab label="Songs" style="height:480px;">
            <md-content class="md-padding">
                <wg-content-songs></wg-content-songs>
            </md-content>
        </md-tab>
        <md-tab label="Albums"style="height:480px;">
            <md-content class="md-padding">

                <wg-content-albums></wg-content-albums>
            </md-content>
        </md-tab>
        <md-tab label="Artists" style="height:500px;">
            <md-content class="md-padding">

                <wg-content-artists></wg-content-artists>
            </md-content>
        </md-tab>
        <md-tab label="Genres" style="height:500px;">
            <md-content class="md-padding">

                <wg-content-genres></wg-content-genres>
            </md-content>
        </md-tab>
    </md-tabs>
    <md-fab-speed-dial md-open="false" md-direction="up"  style="position:fixed; bottom:10px; right : 10px;">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn" ng-click="showUploadDialog($event)">
                <md-icon md-svg-src="assets/svg/ai-upload.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</md-content>