<md-card layout="column" flex="40" style="height:300px;" style="margin:100px auto;">
    <md-card-content layout-padding>
        <form name="loginForm">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>email</label>
                    <input ng-model="email" md-select-on-focus>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>password</label>
                    <input ng-model="password" type="password" md-select-on-focus>
                </md-input-container>
            </div>
        </form>
    </md-card-content>
    <md-card-actions  layout="row" layout-align="bottom center">
        <md-button flex="100" class="md-raised md-primary" aria-label="login" ng-click="login(email,password)">
            <label>LOGIN</label>
        </md-button>
    </md-card-actions>
</md-card>